      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image"> <img src="images/faces/admin.png" alt="image"/> <span class="online-status online"></span> </div>
              <div class="profile-name">
                <p class="name"><script type="text/javascript">document.write(profile.fullname)</script></p>
                <p class="designation"><script type="text/javascript">document.write(profile.rulesname)</script></p>
                <div class="badge badge-teal mx-auto mt-3">Online</div>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/dashboard"><img class="menu-icon" src="images/menu_icons/01.png" alt="menu_icons">&nbsp<span class="menu-title">میزکار</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/usersform"><img class="menu-icon" src="/images/users.png" alt="users">&nbsp<span class="menu-title">مدیریت کاربران</span></a></li>
		  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages"> <img class="menu-icon" src="/images/message.png" alt="message">&nbsp<span class="menu-title">مدیریت پیام ها</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="general-pages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/message_new"><img class="menu-icon"  style="width: 30px;" src="/images/new-message.png" alt="new-message">&nbsp<span class="menu-title">ثبت پیام</span></a></li>
                <li class="nav-item"> <a class="nav-link" href="/message_receive"><img class="menu-icon" style="width: 30px;" src="/images/receive-message.png" alt="recive-message">&nbsp<span class="menu-title">پیام های جدید</span></a></li>
                <li class="nav-item"> <a class="nav-link" href="/message_send"><img class="menu-icon" style="width: 30px;" src="/images/send-message.png" alt="new-message">&nbsp<span class="menu-title">پیام های ارسالی من</span></a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/userstransform"><img class="menu-icon" src="/images/coin.png" alt="coin">&nbsp<span class="menu-title">مدیریت تراکنش ها</span></a></li>
        </ul>
      </nav>