	<% include ./public-header.ejs %>
	<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="col-lg-2 col-3 col-md-4 text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background: unset;">
       <a class="brand-logo" ><img src="/images/baner/logo-baner.png" alt="logo" height="58" width="200"/></a>
        <a class="navbar-brand brand-logo-mini" ><img src="/images/baner/logo-baner-mini.png" alt="logo" style="height:50px;width:100px"/></a>
      </div>
      <div class="col-lg-10 col-9 col-md-8 navbar-menu-wrapper d-flex align-items-center">
 		<div class="d-lg-none col-2 ">
			<button class="col-lg-4 col-4 navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
			  <span class="icon-menu"></span>
			</button>
		</div>	
        <ul class="navbar-nav navbar-nav-right">
		<!--<div class="col-lg-2 col-2 ">
		  <button type="button" id="workCalenderShow" style="color:white"; class="float-rigth btn btn-link btn-fw mdi mdi-calendar">تقویم</button>  
		</div>-->
          <li class="nav-item dropdown" id="divmessageCount">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-email-variant"></i>
              <span id="messageCount" class="count"></span>
            </a>
			<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown"  >
              <a class="dropdown-item" href="/message_receive">
                <p class="mb-0 font-weight-normal float-left">صندوق پیام ها
                </p>
              </a>
			</div>		
           </li>
         </ul>
		<!-- ---------------- -->
		 <ul class="navbar-nav navbar-nav-left header-links d-md-flex">
          <li class="nav-item">
			<button onclick="logout()" class="float-left navbar-toggler navbar-toggler-rigth align-self-center" style="display: block !important;" type="button" >
			  <div class="icon-logout" data-toggle="tooltip" data-placement="bottom" title="خروج">  </div>
			</button>
          </li>
        </ul>	
	 
      </div>
    </nav>
<!-- Modal -->

