  <!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>صندوق تعاون فامیلی</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/modules/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/modules/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/css/datepicker/farsidatepicker.css">
  <link rel="stylesheet" href="/css/my.css">
  <link rel="stylesheet" href="/css/font.css">
  

  <script src="/modules/jquery/dist/jquery.min.js"></script>
  <!-- plugins:js -->  
  <script src="/modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/modules/chart.js/dist/Chart.min.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/datepicker/farsidatepicker.js"></script>
  <script src="/modules/bootstrap/js/src/tooltip.js"></script>
  <script src="/js/confirm/bootstrap-confirm.js"></script>
  <script src="/js/module/chart.js"></script>
  <script src="/js/my.js"></script>
  </head>
