<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>صندوق تعاون فامیلی</title>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="/js/jquery.min.js"></script> 
	<script type="text/ecmascript" src="/js/datagrid/trirand/i18n/grid.locale-fa.js"></script>
    <script type="text/ecmascript" src="/js/datagrid/trirand/jquery.jqGrid.js"></script>
	<!--<script src="/js/datagrid/bootstrap.min.js"></script>-->
	<script type="text/ecmascript" src="/js/datagrid/prettify/prettify.js"></script>
    <script type="text/ecmascript" src="/../js/datagrid/codetabs-b.js"></script> 	
	<script src="/modules/popper.js/dist/umd/popper.min.js"></script>
	<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/modules/chart.js/dist/Chart.min.js"></script>
	<script src="/js/off-canvas.js"></script>
	<script src="/js/misc.js"></script>
	<script src="/js/dashboard.js"></script>
	<script type="text/ecmascript" src="/js/datagrid/context-menu.js"></script>
	<script src="/js/confirm/bootstrap-confirm.js"></script>
	<script src="/js/my.js"></script>
	<script src="/js/datepicker/farsidatepicker.js"></script>
	<script src="/js/jquery-ui.min.js"></script>

	
	<!-- A link to a Boostrap  and jqGrid Bootstrap CSS siles-->
	<link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/css/datagrid/trirand/ui.jqgrid-bootstrap.css" />
	<link rel="stylesheet" href="/css/datagrid/prettify.css" />
	<!-- console -->
	<link rel="stylesheet" href="/modules/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/modules/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/images/favicon.png" />
	<link rel="stylesheet" href="/modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/datepicker/farsidatepicker.css">
	<!-- cobo search -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
    <link rel="stylesheet" href="/css/my.css">
	<link rel="stylesheet" href="/css/font.css">
  </head>